@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    color: snow;
    /*background-color: #f7ddda;*/
}

header{
    background-color: #8b008b;
    background-image: linear-gradient(to bottom, #8b008b, #483d8b);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo{
    /* height: 70px; */
    width: auto;
    transition: all 0.3s;
    cursor: pointer;
    /* margin-right: auto; */
    padding-left: 50px;
    /* display: flex; 
    flex-wrap: wrap;*/
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}
header .logo:hover{
    transform: scale(1.2);
    color: #ff53ff;
}
header nav a{
    list-style: none;
    /* border-radius: 10px; */
    /* padding: 8px 15px; */
    align-self: center;
    /* text-decoration: none; */
    color: #ffffff;
    /* margin: 5px; */
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: rgb(147, 23, 178);
    border-radius: 5px;
}
header nav a:hover{
    background-color: #0056b3;
    transition: all 0.5s;
}

footer{
    background-color: darkslategrey;
    color: #b4e1ff;
    text-align: center;
    padding: 5px 0px 20px 0px
}
footer div i{
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    color: rgb(3, 108, 255);
    font-size:20px;
    color:rgb(255, 255, 255);
}
.icon{
    font-size:20px;
    color:rgb(255, 255, 255);
}